<p style="color:aliceblue"></p>
<div class="tweets">
  <ul class="list-group">
  
<span><img src = "{{User.profilePic}}" width="60" height="60" style = "border-radius: 50%"/> {{User.username}}</span>
  {{#each (processTitle title) as |wordObj|}}
        <a href="/api/posts/search?tag={{wordObj.word}}" class = "list-group-item">{{wordObj.word}}</a>
    {{/each}}
    <h6 class="idInNeed" style="display: none;">{{id}}</h6>
  <li class="list-group-item">{{content}}</li>
    {{#if imageSource}}
  <li class="list-group-item"><img src="{{imageSource}}" width="500" height="500"/></li>
    
  {{/if}}
  <button type="button" class="btn btn-primary btn-sm likeBtn">like</button><p class="likeCount">0</p>
  {{!-- <button type="button" class="btn btn-primary btn-sm deleteBtn">Delete</button> --}}
  <br>
</ul>
</div>

<style>
  .tweets {
    padding-left: 60px;
    padding-right: 60px;
    background-color: #bbdfee;
    margin-left: 30px;
    margin-right: 30px;
  }

</style>