<p style="color:aliceblue"></p>
<div id="tweets" data-post-id="{{post.id}}" data-user-id="{{User.id}}" class="tweets">
  <ul class="list-group">
<span><img src = "{{User.profilePic}}" width="60" height="60" style = "border-radius: 50%"/> {{User.username}}</span>
  {{#each (processTitle title) as |wordObj|}}
        <a href="/api/posts/search?tag={{wordObj.word}}" class = "list-group-item">{{wordObj.word}}</a>
    {{/each}}
    <h6 class="idInNeed" style="display: none;">{{id}}</h6>
    <li class="list-group-item">{{content}}</li>
    {{#if imageSource}}
  <li class="list-group-item"><img src="{{imageSource}}" width="500" height="500"/></li>
    
  {{/if}}

      <li class="list-group-item">
      <h6>Comments:</h6>
      <ul class="commentsList">
        {{#each comments as |comment|}}
          <li>
            <span>{{comment.user}}:</span> {{comment.text}}
            <ul class="repliesList">
              {{#each comment.replies as |reply|}}
                <li><span>{{reply.user}}</span> {{reply.text}}</li>
              {{/each}}
            </ul>
            <form class="replyForm" style="display: none;">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Add a reply..." />
                <button type="submit" class="btn btn-primary btn-sm">Reply</button>
              </div>
            </form>
          </li>
        {{/each}}
      </ul>

      <form class="commentForm">
        <div class="form-group">
          <input type="text" class="form-control" id = "commentId" placeholder="Add a comment..." />
          <button type="submit" class="btn btn-primary btn-sm">Comment</button>
        </div>
      </form>
    </li>
  <button type="button" class="btn btn-primary btn-sm likeBtn">like</button><p class="likeCount">0</p>
  {{!-- <button type="button" class="btn btn-primary btn-sm deleteBtn">Delete</button> --}}
  <br>
</ul>
</div>

<style>
  .tweets {
    padding-left: 60px;
    padding-right: 60px;
    background-color: #bbdfee;
    margin-left: 30px;
    margin-right: 30px;
  }

</style>