<section class="d-flex align-items-center bd-highlight bd-highlight flex-column mb-3">

  <div class="p-2 bd-highlight">
    <div class="div-two" style="text-align:end;">

      <h2 class="userNome" style="color:white">{{users.username}}</h2>
      <style>
        h2 {
          text-align: center;
        }
      </style>

    </div>

    <div class="div-style">
      <div>
        <div class="input-group mb-3 form-control">
          <button class="btn btn-outline-secondary usersearchBtn" type="button" id="button-addon1">Search</button>
          <input type="text" class="form-control" id="searchData" placeholder=""
            aria-label="Example text with button addon" aria-describedby="button-addon1">
        </div>
        <p style="color:rgb(60, 60, 60)">Click on profile picture to follow the user !</p>
        <button id="followBtn">
          <img class="profilePic" src={{users.profilePic}} width="160" height="160">
        </button>
      </div>


      <div class="p2">

      </div>
    </div>

    <style>
      .user-btns {
        height: 55px;
        width: 100%;
        background-color: rgb(231, 185, 99);
        display: flex;
        justify-content: left;
        gap: 15px;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 30px;
        margin-right: 30px;

      }

      .form-control {
        width: 100%;
      }

      .usersearchBtn:hover {
        background-color: #57BEE6;
      }

      .btn-col {
        background-color: #57BEE6;
        color: aliceblue;
        border-radius: 10px;
        border: none;
      }

      .div-style {
        height: 300px;
        width: 100%;
        background-color: #f8f5e4;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 30px;
        margin-right: 30px;

      }

      .post-col {
        height: 220px;
        width: 100%;
        background-color: #f8f5e4;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 30px;
        margin-right: 30px;
        color: rgb(99, 96, 96);

      }

      .div-two {
        height: 55px;
        width: 100%;
        background-color: rgb(240, 184, 80);
        display: flex;
        justify-content: left;
        gap: 15px;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 30px;
        margin-right: 30px;
      }

      .up-btn {
        border-radius: 50px;
        height: 50px;
        margin-top: 8px;
      }

      .btn-col:hover {
        background-color: #e657c2;
      }

      .profile-logo {
        background-color: #d8d6c6;
        height: 100px;
        width: 50%;
        color: ;
        padding: 18px;
        margin-top: 8px;
        border-radius: 8px;
      }
    </style>
    <br>
    <div class="p-2 bd-highlight div-two">
      <p>
        <a class="btn btn-col" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
          aria-controls="collapseExample">
          Lets Chat
        </a>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <div>
            <ul class="ugad"></ul>
          </div>
          <form class="ufad">
            <label for="messageInput">Message:</label>
            <input type="text" id="messageInput" name="messageInput">
            <button type="submit" id="usent" title="Send">Send</button>
          </form>
        </div>
      </div>
    </div>
    <br>
    <div class="tweets">
      <ul class="list-group">

        <span><img src="{{users.profilePic}}" width="60" height="60" style="border-radius: 50%" />
          {{users.username}}</span>
        {{#each (processTitle title) as |wordObj|}}
        {{!-- <a href="/api/posts/search?tag={{wordObj.word}}" class="list-group-item">{{wordObj.word}}</a> --}}
        {{/each}}

        {{#each users.Posts as |post|}}

        {{> profile-details}}

        {{/each}}

      </ul>
    </div>


    <style>
      .tweets {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 30px;
        margin-right: 30px;
        background-color: #84c0da;
      }
    </style>


    <script src="/js/folowbtn.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/delete.js"></script>
    <script src="/js/like.js"></script>
    <script src="/js/story.js"></script>
    <!-- Include Socket.IO library -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/profile.js"></script>
    <script src="/js/chat.js"></script>
    <script src="/js/uploadPost.js"></script>
    <script src="/js/followers.js"></script>
    <script src="/js/followings.js"></script>



  </div>
</section>